# -------- POSTGRES API --------
POSTGRES_USER_API=your_user
POSTGRES_PASSWORD_API=your_password
POSTGRES_DB_API=your_db
POSTGRES_API_HOST_PORT=15432

# -------- PGADMIN --------
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your_password
PGADMIN_PORT=5050

# -------- MLFlow --------
MLFLOW_PORT=5000
